#bones ul {
  list-style-type: none;
  margin: 0;
  padding-left: 1em;
}

#bones li {
  padding: 0px 6px 2px 6px;
}

#bones li a, #controls a {
  text-decoration: none;
}

#bones .selected {
  background: #505050;
}

#controls {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 40%;
  margin-bottom: 20px;
}

#controls .updateRefs {
  float: left;
}

#controls #zoomSlider {
  width: 100px;
  float: right;
}

#image #refName {
  background: #405060;
  border: #203030;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}

body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 14px;
  background: #202020;
}

body, a {
  color: #f0f0f0;
}


#bones {
  float: left;
  margin-right: 24px;
}

#image {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #808080;
  border-width: thin;
}

#image, #refs {
  width: 400px;
  height: 600px;
}

#image {
  position: relative;
  overflow: auto;
}

#refs, #refs2 {
  position: absolute;
  top: 0;
  text-align: center;
}

#image img.main {
  width: 400px;
  position: absolute;
  top: 0;
}

#image div {
  margin-left: auto;
  margin-left: auto;
  padding: 0;
}

#control {
  clear: both;
  padding-top: 50px;
  padding-left: 20px;
}

#container {
  border: 1px solid #101010;
}

.zoom-text {
  float: right;
  margin: 0 20px;
}

.scale {
  position: absolute;
  top: 4px;
  left: 4px;
}
