<!DOCTYPE html>
<html>
<head>
  <script src="js/jquery-2.0.2.min.js"></script>
  <link type="text/css" rel="stylesheet" href="css/jquery-ui.css" />
  <link type="text/css" rel="stylesheet" href="css/styles.css">
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/caliboro.js"></script>
</head>

<body>

<div id="bones"></div>
<div id="container">
  <div id="controls"></div>
  <div id="image"></div>
</div>

<script>
Caliboro.basePath = '$bonesBasePath';
Caliboro.data = $bonesData;

$(document).ready(function() {
  Caliboro.init();
  Caliboro.listBones();
});
</script>

</body>

