<!DOCTYPE html>
<html>
<head>
  <script src="jquery-2.0.2.min.js"></script>
  <link type="text/css" rel="stylesheet" href="jquery-ui.css" />
  <link type="text/css" rel="stylesheet" href="styles.css">
  <script src="jquery-ui.min.js"></script>
  <script src="caliboro.js"></script>
</head>

<div id="bones"></div>
<div id="container">
  <div id="controls"></div>
  <div id="image"></div>
</div>

<script>
Caliboro.basePath = '$bonesBasePath';
Caliboro.data = $bonesData;

$(document).ready(function() {
  Caliboro.init();
  Caliboro.listBones();
});
</script>
<body>
</body>

